**/*.log
**/node_modules

*.code-workspace
*.vscode

dist
tmp
out-tsc
bazel-out

config.*.json
*keys.json
service-account-credentials.json
make_env
values.yaml
local.auto.tfvars

.terraform*
terraform.tfstate*

.DS_Store
application/frontend/src/config/*
/east-fleet-routing-73cd431c696a.json
east-fleet-routing-9d0ab13f2d42.json
